@{
    ViewBag.Title = "Crear Datos de Estudios";
}

@* <div class="container" style="margin: 30px auto;">
    <h2 class="text-center">Inscripciones</h2>
    <p class="text-center" style="max-width: 1200px; margin: 0 auto;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo quod harum doloribus placeat quibusdam ad consectetur tenetur molestiae, corporis autem? Voluptatem, quibusdam quasi provident tempore alias neque officiis est aut!</p>
</div> *@

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" style="width: 100%; border-radius: 50px;">
                <div class="card-body bg-warning">
                    <h5 class="card-title text-white">1. Información inscripción</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" style="width: 100%; border-radius: 50px;">
                <div class="card-body bg-secondary">
                    <h5 class="card-title text-white">2. Información Personal</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" style="width: 100%; border-radius: 50px;">
                <div class="card-body bg-secondary">
                    <h5 class="card-title text-white">3. Confirme sus datos</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <!-- Ajustado a 10 columnas en pantallas medianas -->
            <div class="card" style="border: 2px double #eeecec; border-radius: 50px; background:#eeeeee;">
                <div class="card-body text-center">
                    <div class="containerCard">
                        <h2>Información inscripción</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit et corrupti amet distinctio neque? Impedit, modi rem a unde deleniti excepturi quos non incidunt iusto! Perferendis deserunt sed cum earum.</p>
                    </div>

                    <form>
                        <div class="container mt-3">
                            <div class="row" style="border: 1px solid #c7c6c6; border-radius: 10px; padding: 10px 120px;">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="nuevoIngreso" value="Nuevo Ingreso" required>
                                            <label class="form-check-label" for="nuevoIngreso">Nuevo Ingreso</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="reingreso" value="Reingreso" required>
                                            <label class="form-check-label" for="reingreso">Reingreso</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="transferenciaInterna" value="Transferencia Interna" required>
                                            <label class="form-check-label" for="transferenciaInterna">Transferencia Interna</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipoIngreso" id="transferenciaExterna" value="Transferencia Externa" required>
                                            <label class="form-check-label" for="transferenciaExterna">Transferencia Externa</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modalidad y Nivel de Ingreso -->
                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="modalidad" name="ModalidadId" required disabled>
                                        <option value="" selected>Seleccione la modalidad</option>
                                    </select>
                                    <label for="modalidad">Modalidad:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="nivelIngreso" name="NivelIngreso" required disabled>
                                        <option value="" selected> Seleccione el nivel de ingreso</option>
                                    </select>
                                    <label for="nivelIngreso">Nivel ingreso:</label>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="programaInteres" name="Programa" required disabled>
                                        <option value="" selected>Seleccione el programa de interes</option>
                                    </select>
                                    <label for="programaInteres">Programa de interés:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" id="escuela" name="NombreEscuela" disabled>
                                </div>
                            </div>


                            <!-- Sede y Periodo -->
                            <div class="row mt-3">
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="periodo" required disabled>
                                        <option selected>Seleccione el período</option>
                                    </select>
                                    <label for="periodo">Período:</label>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <select class="form-select form-select-sm" id="sede" required disabled>
                                        <option selected>Seleccione una sede</option>
                                    </select>
                                    <label for="sede">Sede:</label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="divLoading"></div>

                    <a href="@Url.Action("InformacionEstudiante", "Estudiante")" class="btn bg-primary text-light btn-lg my-4"><b>Continuar</b></a>
                    <a id="cancelar-btn" class="btn bg-light text-dark btn-lg my-4">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

@section Scripts
{
    <script>

        $(document).ready(function () {
            obtenerTipoIngreso()
        })


        function obtenerTipoIngreso() {
            $("input[name='tipoIngreso']").change(function () {
                // Obtener el valor del tipo de ingreso seleccionado
                var tipoIngresoSeleccionado = $(this).val();

                // Realizar una solicitud AJAX al servidor
                $.ajax({
                    url: "@Url.Action("ObtenerTipoIngreso", "Estudiante")",
                    type: 'GET', // O 'POST' dependiendo del método del controlador
                    dataType: 'json', // Especificar el tipo de datos esperado en la respuesta
                    data: {
                        tipoIngreso: tipoIngresoSeleccionado // Enviar el tipo de ingreso seleccionado al servidor
                    },
                    success: function (response) {
                        // Manejar la respuesta recibida del servidor
                        console.log('Respuesta del servidor:', response);
                        $("#modalidad").prop("disabled", false);
                        // Aquí puedes realizar acciones adicionales basadas en la respuesta recibida
                    },
                    error: function (xhr, status, error) {
                        // Manejar el error en caso de que ocurra
                        console.error('Error al realizar la solicitud AJAX:', error);
                    }
                });
            });
        }

        function obtenerModalidad() {
            $.ajax({
                url: "@Url.Action("ObtenerModalidades", "Estudiante")",
                type: "GET",
                dataType: "json",
                data: {
                    modalidad: "modalidad"
                },
                success: function (response) {
                    console.log(response)

                    // $("#modalidad").append(
                    //     $("<option>").attr({ "value": "" }).text("Seleccione la modalidad")
                    // )

                    $.each(response, function (i, elemento) {
                        $("#modalidad").append(
                            $("<option>").attr({ "value": elemento.modalidad }).text(elemento.modalidad)
                        )
                    })
                }
            })
        }

        // Llama a la función cuando se seleccione una opción de modalidad (si es necesario)
        $("input[name='tipoIngreso']").change(function () {
            obtenerModalidad();
        });

        function obtenerNivelIngreso() {
            $.ajax({
                url: "@Url.Action("ObtenerNivelIngreso", "Estudiante")",
                type: "GET",
                dataType: "json",
                data: {
                    Nivel_Ingreso: "nivelIngreso"
                },
                success: function (response) {
                    console.log("Respuesta del servidor:", response); // Para verificar la respuesta en la consola
                    $("#nivelIngreso").prop("disabled", false);
                    var select = $("#nivelIngreso");
                    select.empty(); // Limpiar el dropdown


                    $("#nivelIngreso").append(
                        $("<option>").attr({ "value": "" }).text("Seleccione el nivel de ingreso")
                    )

                    $.each(response, function (i, elemento) {
                        $("#nivelIngreso").append(
                            $("<option>").attr({ "value": elemento.nivel_Ingreso }).text(elemento.nivel_Ingreso)
                        )
                    })
                },
                error: function (xhr, status, error) {
                    console.error("Error al obtener los niveles de ingreso:", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un problema al obtener los niveles de ingreso. Por favor, intenta nuevamente.'
                    });
                }
            });
        }

        // Llama a la función cuando se seleccione una opción de modalidad (si es necesario)
        $("#modalidad").change(function () {
            obtenerNivelIngreso();
        });

        function obtenerProgramaInteres() {
            // Obtén los valores de modalidad y nivelIngreso
            var _modalidad = $("#modalidad").val();
            var _nivelIngreso = $("#nivelIngreso").val();


            $.ajax({
                url: "@Url.Action("ObtenerProgramaInteres", "Estudiante")",
                type: "GET",
                dataType: "json",
                data: {
                    modalidad: _modalidad,
                    nivelIngreso: _nivelIngreso
                },
                success: function (response) {
                    console.log("Respuesta del servidor:", response); // Verifica la respuesta en la consola
                    $("#programaInteres").prop("disabled", false);
                    var select = $("#programaInteres");
                    select.empty(); // Limpiar el dropdown

                    $("#programaInteres").append(
                        $("<option>").attr({ "value": "" }).text("Seleccione el programa de su interes")
                    )

                    $.each(response, function (i, elemento) {
                        $("#programaInteres").append(
                            $("<option>").attr({ "value": elemento.nombre_Programa }).text(elemento.nombre_Programa)
                        )
                    })

                },
                error: function (xhr, status, error) {
                    console.error("Error al obtener los niveles de ingreso:", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un problema al obtener los niveles de ingreso. Por favor, intenta nuevamente.'
                    });
                }
            });
        }

        // Llama a la función cuando se seleccione una opción de modalidad
        $("#modalidad, #nivelIngreso").change(function () {
            obtenerProgramaInteres();
        });

        function obtenerPeriodo() {
            // Obtén los valores de modalidad y nivelIngreso
            var _modalidad = $("#modalidad").val();
            var _nivelIngreso = $("#nivelIngreso").val();
            var _programaInteres = $("#programaInteres").val();


            $.ajax({
                url: "@Url.Action("ObtenerPeriodo", "Estudiante")",
                type: "GET",
                dataType: "json",
                data: {
                    modalidad: _modalidad,
                    nivelIngreso: _nivelIngreso,
                    nombrePrograma: _programaInteres,
                },
                success: function (response) {
                    console.log("Respuesta del servidor:", response); // Verifica la respuesta en la consola
                    $("#periodo").prop("disabled", false);
                    var select = $("#periodo");
                    select.empty(); // Limpiar el dropdown

                    $("#periodo").append(
                        $("<option>").attr({ "value": "" }).text("Seleccione el periodo del programa")
                    )

                    $.each(response, function (i, elemento) {
                        $("#periodo").append(
                            $("<option>").attr({ "value": elemento.periodo }).text(elemento.periodo)
                        )
                    })

                },
                error: function (xhr, status, error) {
                    console.error("Error al obtener los niveles de ingreso:", error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un problema al obtener los niveles de ingreso. Por favor, intenta nuevamente.'
                    });
                }
            });
        }

        // Llama a la función cuando se seleccione una opción de modalidad
        $("#modalidad, #nivelIngreso, #programaInteres").change(function () {
            obtenerPeriodo();
        });

        function obtenerEscuela() {
            $('#programaInteres').change(function () {
                // Obtener el valor seleccionado del programa de interés
                var _modalidad = $("#modalidad").val();
                var _nivelIngreso = $("#nivelIngreso").val();
                var programaSeleccionado = $(this).val();

                // Realizar una solicitud AJAX al servidor para obtener la escuela correspondiente al programa seleccionado
                $.ajax({
                    url: '@Url.Action("ObtenerEscuelaPorPrograma", "Estudiante")',
                    type: 'GET',
                    data: {
                        modalidad: _modalidad,
                        nivelIngreso: _nivelIngreso,
                        nombrePrograma: programaSeleccionado
                    },
                    success: function (response) {
                        // Actualizar el valor del textbox de la escuela con el valor recibido
                        $('#escuela').val(response.escuela);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al obtener la escuela:', error);
                    }
                });
            });
        }

        $("#modalidad, #nivelIngreso, #programaInteres").change(function () {
            obtenerEscuela();
        });


        function obtenerSede() {
            // Obtener los valores seleccionados de los elementos
            var _modalidad = $("#modalidad").val();
            var _nivelIngreso = $("#nivelIngreso").val();
            var _programaInteres = $("#programaInteres").val();
            var _periodo = $("#periodo").val();

            // Realizar una solicitud AJAX al servidor
            $.ajax({
                url: '@Url.Action("ObtenerSedePrograma", "Estudiante")',
                type: 'GET',
                data: {
                    modalidad: _modalidad,
                    nivelIngreso: _nivelIngreso,
                    nombrePrograma: _programaInteres,
                    periodo: _periodo
                },
                success: function (response) {
                    // Limpiar el dropdown de sedes
                    $("#sede").prop("disabled", false);
                    var select = $("#sede");
                    select.empty();

                    // Agregar la opción predeterminada
                    select.append(
                        $("<option>").attr("value", "").text("Seleccione la sede del programa")
                    );

                    // Agregar las opciones de sedes basadas en la respuesta recibida
                    $.each(response, function (i, elemento) {
                        select.append(
                            $("<option>").attr("value", elemento.sede).text(elemento.sede)
                        );
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener la sede:', error);
                }
            });
        }

        // Llamar a la función obtenerSede() cuando cambie algún valor en los elementos modalidad, nivelIngreso, programaInteres o periodo
        $("#modalidad, #nivelIngreso, #programaInteres, #periodo").change(function () {
            obtenerSede();
        });

    </script>
}



